<!DOCTYPE html>
<html>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
    <p>Here</p>
      <p>Set a new password to Covid Tracker</p>
      <% if (errorMessage) { %>
        <div><%= errorMessage %></div>
      <% } %>
      <form action="/new-password" method="POST">
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <br>
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn" type="submit">Set password</button>
      </form>
    </main>
  </body>
  </html>
</html>